<ion-content fullscreen class="children-content">
  <div class="children-wrapper">

    <section class="children-header">
      <ion-menu-button menu="main-menu" class="menu-button"></ion-menu-button>

      <div class="header-text">
        <h1>Mis hijos</h1>
        <p>Seleccione un estudiante para ver el historial de calificaciones</p>
      </div>
    </section>

    <section class="children-list">

      <div class="student-card" routerLink="/report-cards/1">
        <div class="student-avatar">👦</div>

        <div class="student-info">
          <h2>Andrés Jaramillo Ba...</h2>
          <p>6° Primaria</p>

          <div class="badges-row">
            <span class="badge high">
              <span></span>
              Alto 9.4
            </span>

            <span class="badge pending">
              1 pendiente
            </span>
          </div>
        </div>

        <div class="chevron">›</div>
      </div>

      <div class="student-card" routerLink="/report-cards/2">
        <div class="student-avatar">👦</div>

        <div class="student-info">
          <h2>Emiliano Jaramillo ...</h2>
          <p>4° Primaria</p>

          <div class="badges-row">
            <span class="badge medium">
              <span></span>
              Medio 8.3
            </span>

            <span class="badge pending">
              1 pendiente
            </span>
          </div>
        </div>

        <div class="chevron">›</div>
      </div>

      <div class="student-card" routerLink="/report-cards/3">
        <div class="student-avatar">👦</div>

        <div class="student-info">
          <h2>Hector Jaramillo Ba...</h2>
          <p>2° Primaria</p>

          <div class="badges-row">
            <span class="badge medium">
              <span></span>
              Medio 7.8
            </span>

            <span class="badge pending">
              1 pendiente
            </span>
          </div>
        </div>

        <div class="chevron">›</div>
      </div>

    </section>

  </div>
</ion-content>